.MainMenu h1 {
    font-family: var(--font-Truculenta), sans-serif;
    font-weight: 900;
    font-size: 100;
}

.MainMenu {
    border: solid;
    padding: 20;
    height: 100%;
    background-color:#c299ff;
    background-image:
    radial-gradient(at 85% 51%, hsla(90,60%,79%,1) 0px, transparent 50%),
    radial-gradient(at 61% 41%, hsla(163,74%,64%,1) 0px, transparent 50%),
    radial-gradient(at 14% 51%, hsla(122,94%,71%,1) 0px, transparent 50%),
    radial-gradient(at 3% 73%, hsla(131,93%,66%,1) 0px, transparent 50%),
    radial-gradient(at 52% 29%, hsla(210,73%,65%,1) 0px, transparent 50%)
}


.MainMenu button {
    border: solid;
    padding: 20;
    border-radius: 10;
    

}

.flexlist li {
    background: purple ;
    justify-content: center;
    text-align: center;
    word-wrap: normal;
    padding: 20px;
    border-radius: 20px
    
}

