.MainMenu h1 {
    font-family: var(--font-Truculenta), sans-serif;
    font-weight: 900;
    font-size: 100;
}

.MainMenu {
    border: solid;
    padding: 20;
    height: 100%;
    background-color: rgba(1, 43, 1, 0.774);
}


.MainMenu button {
    border: solid;
    padding: 20;
    border-radius: 10;

}

.flexlist li {
    background: purple ;
    justify-content: center;
    text-align: center;
    word-wrap: normal;
    padding: 20px;
    border-radius: 20px;
    
}
